.schoolsListing {
    position: relative;
    background: #FBFBFB;
    width: 40%;
    padding: 1rem 1rem 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;
    box-sizing: border-box;
}
