body {
    --primary-font: 'Jost', sans-serif;
    --primary: #9D54BF;

    background: #FBFBFB;
}

@layer base {
    body {
        @apply font-secondary !important;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-primary;
    }
}
