.dropdownWrapper {
    position: relative;
    z-index: 1001;

    margin: 0 0.3rem;
    @apply font-secondary;
}
.dropdownButton {
    display: flex;
    z-index: 1;
    position: relative;
    align-items: center;
    white-space: nowrap;
    background: white;
    margin: 0;
    padding: .5rem 1rem;
    font-size: 1rem;
    transition: 0.2s all;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 50px;
}

.dropdownButtonActive {
    composes: dropdownButton;
    margin: -1px;
    border-width: 2px;
}


.dropdownButton svg {
    color: black;
    margin-left: 10px;
    font-size: 24px;
    transition: transform 0.2s;
}

.dropdownSpace {
    position: absolute;
    display: none;
    top: calc(100% - 10px);
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 1000;
}

.dropdownListWrapper {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    min-width: 100%;
    background: white;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all;
    z-index: 1000;
}

.dropdownList {
    margin: 0;
    padding-inline-start: 0;
    position: relative;
}

.dropdownListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 15px 10px 7px;
    transition: background 0.2s;
    cursor: pointer;
}

.dropdownListItem svg {
    color: green;
    margin-left: 10px;
    font-size: 24px;
    transition: opacity 0.2s;
    opacity: 0;
}

.dropdownListItem:hover {
    background: #F2F2F2;
}

.dropdownListItemActive {
    composes: dropdownListItem;
    background: #F2F2F2;
}

.dropdownListItemActive svg {
    opacity: 1;
}

.dropdownListWrapper :global .scrollbar-container {
    max-height: 200px;
}

.dropdownWrapper:hover .dropdownSpace,
.dropdownSpace:hover {
     display: block;
 }
.dropdownWrapper:hover .dropdownListWrapper,
.dropdownListWrapper:hover {
     opacity: 1;
     visibility: visible;
 }

.dropdownWrapper:hover .dropdownButton svg {
     transform: rotate(-180deg);
 }
.dropdownWrapper:hover .dropdownButton {
     background: white;
 }
