.filtersRow {
    position: sticky;
    top: var(--navbar-height);
    z-index: 999;
    background: white;
    height: var(--filters-row-height);
    border-bottom: 1px solid #E2E5E6;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.textInputWrapper {
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0 .8rem;
    width: 30rem;

    margin: 0 0.3rem;
}

.textInputWrapper:focus-within {
    border-color: #aaaaaa;
}

.textInput {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    padding: .5rem .2rem;
    font-size: 1rem;
    @apply font-secondary;
}

.textInput:focus {
    outline: none;
}
