name: Build, push, and deploy

on:
  push:
    branches:
    - master

env:
  PROJECT_ID: ${{ secrets.GCE_PROJECT }}
  GCE_INSTANCE: instance-1
  GCE_INSTANCE_ZONE: europe-west4-a

jobs:
  build-push-deploy:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
    # We always update prod deployments to the "latest" container tag. GitHub actions do start in the order of merged
    # commits, but there is no guarantee on docker execution time, We could have a situation where two commits are
    # merged at the ~same time, but the earlier commit finishes building later than the most recent one, which in turn
    # means that the "latest" tag won't point to the latest commit.
    #
    # There is no builtin way to make one action run at a time, so we use Turnstyle.
    #
    # https://github.community/t/is-the-order-of-workflows-by-commit/16982/2
    - name: Turnstyle
      uses: softprops/turnstyle@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # https://github.com/docker/build-push-action/blob/master/docs/advanced/tags-labels.md
    - name: Docker meta
      id: meta
      uses: crazy-max/ghaction-docker-meta@v2
      with:
        images: |
          warsawlo/warsawlo-2.0
        tags: |
          type=ref,event=branch
          type=sha
        flavor: |
          latest=false

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        push: true

    - uses: google-github-actions/setup-gcloud@master
      with:
        version: '290.0.1'
        service_account_key: ${{ secrets.GCE_SA_KEY }}
        project_id: ${{ secrets.GCE_PROJECT }}

    - name: Clean ssh keys
      run: |-
        # https://github.com/kyma-project/test-infra/issues/93#issuecomment-457263589
        for i in $(gcloud compute os-login ssh-keys list --format="table[no-heading](value.fingerprint)"); do
            echo "Removing ssh key" $i;
            gcloud compute os-login ssh-keys remove --key $i || true;
        done

    - name: Deploy
      run: |-
        gcloud compute ssh --zone ${GCE_INSTANCE_ZONE} ${GCE_INSTANCE} -- \
          -tt -C "cd /home/mlazowik/infra/app && bash update-frontend.sh && yes | docker system prune"

    - name: Purge cache
      uses: jakejarvis/cloudflare-purge-action@v0.3.0
      env:
        CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
        CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
