name: Build and push

on:
  release:
    types: [published]

jobs:
  build-push:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
    # https://github.com/docker/build-push-action/blob/master/docs/advanced/tags-labels.md
    - name: Docker meta
      id: meta
      uses: crazy-max/ghaction-docker-meta@v2
      with:
        images: |
          ghcr.io/po8klasie/po8klasie
        tags: |
          type=ref,event=tag
          type=sha
        flavor: |
          latest=true

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ secrets.GHCR_USERNAME }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        push: true
        cache-from: type=registry,ref=ghcr.io/po8klasie/po8klasie:cache-master
