name: Test building

on: [pull_request]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.1.0

      # https://github.com/docker/build-push-action/blob/master/docs/advanced/tags-labels.md
    - name: Docker meta
      id: meta
      uses: crazy-max/ghaction-docker-meta@v2
      with:
        images: |
          warsawlo/warsawlo-2.0
        tags: |
          type=sha
          type=ref,event=pr

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build image for tests
      uses: docker/build-push-action@v2
      with:
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        push: false
        load: true
        target: js-build

    - name: Get SHA tag
      id: get-sha-tag
      uses: actions/github-script@v4
      env:
        TAGS: ${{ steps.meta.outputs.tags }}
      with:
        script: |
          const { TAGS } = process.env;
          const shaTag = TAGS.split('\n').find(tag => tag.includes('sha'));
          core.setOutput('sha-tag', shaTag);

    - name: Run linters & tests
      env:
        COMPOSE_FILE: docker-compose.ci.yml
        DOCKER_IMAGE_FOR_TESTS: ${{ steps.get-sha-tag.outputs.sha-tag }}
        run: docker-compose up --exit-code-from linter-and-tests

    - name: Setup Docker layers cache
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx

    - name: Build original image
      uses: docker/build-push-action@v2
      with:
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        push: false
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache-new

    - name: Move cache
      run: |
        rm -rf /tmp/.buildx-cache
        mv /tmp/.buildx-cache-new /tmp/.buildx-cache
